html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  color: #000;
  background-color: #cdb79e;
}

header {
  font-family: monospace;
  border-bottom: 0.2rem dashed #8b7d6b;
}

.logo a {
  font-weight: bold;
  color: #458b74;
  text-decoration: none;
}
.logo a:visited {
  color: #458b74;
}

nav {
  text-align: right;
}

nav a {
  font-size: 1.8rem;
  font-weight: bold;
  color: #698b69;
  text-decoration: none;
  text-transform: uppercase;
}
nav a:visited{
  color: #698b69;
}

footer {
  margin-top: 3rem;
  padding: 1.2rem 0;
  border-top: 0.2rem solid #8b7d6b;
  font-size: 1.2rem;
  color: #555;
}

main {
  background-color: #ffe4c4;
  border-radius: 15px;
  padding: 0.1rem 1.2rem;
}

h1 {
  font-size: 2.4rem;
  color: #458b74;
}

h2 {
  color: #458b74;
}

article {
  padding: 1.2rem 1.2rem;
}

article .header {
  font-size: 1.4rem;
  font-style: italic;
  color: #555;
}

article .tags {
  font-size: 1.4rem;
  font-style: italic;
  color: #555;
}

article h1 {
  font-size: 2.4rem;
  padding: 0.5rem 1.2rem;
  border-bottom: 0.2rem solid #404040;
}

article h2 {
  font-size: 2rem;
  margin: 0 2.4rem;
  border-bottom: 0.2rem solid #404040;
}

a {
  color: #6e8b3d;
}
a:visited{
  color: #6e8b3d;
}

div.tags {
  text-align: right;
}

img {
  border: solid 2px;
  margin: auto;
  display: block;
  max-width:100%;
  max-height:100%;
}

a img {
  border: none;
  display: inline;
}

p code {
    color: #404040;
    background-color: #dfc4a4;
};

@media (max-width: 319px) {
  body {
    width: 90%;
    margin: 0;
    padding: 0 5%;
  }
  header {
    margin: 4.2rem 0;
  }
  nav {
    margin: 0 auto 3rem;
    text-align: center;
  }
  footer {
    text-align: center;
  }
  .logo {
    text-align: center;
    margin: 1rem auto 3rem;
  }
  .logo a {
    font-size: 2.4rem;
  }
  nav a {
    display: block;
    line-height: 1.6;
  }
}

@media (min-width: 320px) {
  body {
    width: 90%;
    margin: 0;
    padding: 0 5%;
  }
  header {
    margin: 4.2rem 0;
  }
  nav {
    margin: 0 auto 3rem;
    text-align: center;
  }
  footer {
    text-align: center;
  }
  .logo {
    text-align: center;
    margin: 1rem auto 3rem;
  }
  .logo a {
    font-size: 2.4rem;
  }
  nav a {
    display: inline;
    margin: 0 0.6rem;
  }
}

@media (min-width: 640px) {
  body {
    width: 60rem;
    margin: 0 auto;
    padding: 0;
  }
  header {
    margin: 0 0 3rem;
    padding: 1.2rem 0;
  }
  nav {
    margin: 0;
    text-align: right;
  }
  nav a {
    margin: 0 0 0 1.2rem;
    display: inline;
  }
  footer {
    text-align: right;
  }
  .logo {
    margin: 0;
    text-align: left;
  }
  .logo a {
    float: left;
    font-size: 1.8rem;
  }
}
